name: tests

on:
  # Trigger the tests workflow on push or pull requests.
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - master

jobs:
  run_tox:
    name: tox -e ${{ matrix.toxenv }} (${{ matrix.python-version }} on ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", "pypy3.9"]
        os: ["ubuntu-22.04"]
        toxenv: ["py"]
        include:
          - python-version: "3.10"
            os: "ubuntu-22.04"
            toxenv: "py"
            upload_coverage: true
          - python-version: "3.10"
            os: "ubuntu-22.04"
            toxenv: "pep8"
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    # Steps to run in each job.
    # Some are GitHub actions, others run shell commands.
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install tox
          python --version
          pip --version
          tox --version

      - name: Run tests
        run: |
          tox run -e ${{ matrix.toxenv }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        if: matrix.upload_coverage
        with:
          env_vars: OS,PYTHON
          files: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true
